/* REITH SANS*/
@font-face {
  font-family: 'Reith Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Reith Sans Light'), local('ReithSans-Light'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_Lt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Reith Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Reith Sans'), local('ReithSans'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_Rg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Reith Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Reith Sans Bold'), local('ReithSans-Bold'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_Bd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Reith Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Reith Sans XBold'), local('ReithSans-XBold'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_ExBd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* REITH SANS ITALIC*/
@font-face {
  font-family: 'Reith Sans';
  font-style: italic;
  font-weight: 100;
  src: local('Reith Sans Light Italic'), local('ReithSans-LightItalic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_Lt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Reith Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Reith Sans Italic'), local('ReithSans-Italic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_Rg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Reith Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Reith Sans Bold Italic'), local('ReithSans-BoldItalic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_Bd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Reith Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Reith Sans XBold Italic'), local('ReithSans-XBoldItalic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSans_W_ExBd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* REITH SERIF*/
@font-face {
  font-family: 'Reith Serif';
  font-style: normal;
  font-weight: 100;
  src: local('Reith Serif Light'), local('ReithSerif-Light'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_Lt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Reith Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Reith Serif'), local('ReithSerif'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_Rg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Reith Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Reith Serif Bold'), local('ReithSerif-Bold'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_Bd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Reith Serif';
  font-style: normal;
  font-weight: 900;
  src: local('Reith Serif XBold'), local('ReithSerif-XBold'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_ExBd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* REITH SANS ITALIC*/
@font-face {
  font-family: 'Reith Serif';
  font-style: italic;
  font-weight: 100;
  src: local('Reith Serif Light Italic'), local('ReithSerif-LightItalic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_Lt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Reith Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Reith Serif Italic'), local('ReithSerif-Italic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_Rg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Reith Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Reith Serif Bold Italic'), local('ReithSerif-BoldItalic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_Bd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Reith Serif';
  font-style: italic;
  font-weight: 900;
  src: local('Reith Serif XBold Italic'), local('ReithSerif-XBoldItalic'), url(https://bbc-news.github.io/news-ux-frontpage/assets/fonts/ReithSerif_W_ExBd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
