// _video.scss
//

.video--wrapper{
position: relative;
  &:hover{
   cursor: pointer;
  }
  video{
   width: 268px;
  }
}

.playpause {
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  &:before{
    background:url("//material-design.storage.googleapis.com/images/play.svg") no-repeat center center;
    background-size: 72px 72px;
    content:'';
    display: block;
    position:absolute;
    top:0;
    z-index:1;
    height:100%;
    width: 100%;
    transition: top $duration;
  }

  &:after{
    content:'';
    display: block;
    position:absolute;
    top:0;
    background: linear-gradient(135deg, #fcd200 0%,#f4b31a 16%,#e07518 37%,#ea3919 64%,#ea3919 64%,#ea3919 65%,#d300db 100%);
    height:100%;
    width: 100%;
     opacity: 0.3;
  }
}
