@include mq($from: 0px, $until:399px) {
  .video--wrapper video {
      width: 100%;
  }
  .gel-wrap{
    max-width: 320px;
  }
  .fixed-width{
    width: 312px;
  }
  .card__thumb {
    height: 565px;
  }
}
@include mq($from: 400px, $until:613px) {
  .video--wrapper video {
      width: 100%;
  }
  .gel-wrap{
    max-width: 320px;
  }
  .fixed-width{
    width: 312px;
  }
  .card__thumb {
    height: 565px;
  }
}

@include mq($from: 614px) {
  .gel-wrap{
    max-width: 614px;
  }
  .large-margins {
    padding-left: 32px;
  }
  .no-margin {
    padding-left:0;
  }
  .fixed-width{
    width: 300px;
  }
}

@include mq($from: 900px) {
  .gel-wrap{
    max-width: 900px;
  }
}

@include mq($from: 1200px) {
  .gel-wrap{
    max-width: 1200px;
  }
}

@include mq($from: 1500px) {
  .gel-wrap{
    max-width: 1500px;
  }
}

.infinito__item{
  margin-bottom: 24px;
}
