<section id="infinito" class="infinito--wrap gs-u-clearfix  {{classes}}">
  <!-- 5 items group -->

  <div class="gel-wrap">
  <div class="gel-layout ">
<div class="gel-layout__item no-margin">
    <div class="gel-1/1@xs">
      <div class="infinito--box">
        <div class="gel-layout gel-layout--flex">
          {{#each infinito-items}}
          <div class="gel-layout__item large-margins infinito__item infinito__item--{{@index}} {{classes}}">

                {{molecule "card"}}

          </div>
          {{/each}}
        </div>
      </div>
    </div>
</div>

    </div>
  </div>
    <!-- END 5 items group -->
</section>
