// Colours

$color-smoke:#fafafa;
$color-skyblue:rgba(19,215,255,0.8);




.bg-color-smoke{
  background-color: $color-smoke;
}

.bg-color-skyblue{
  background-color: $color-skyblue;
}

.block{
  padding-top: 80px;
  padding-bottom: 80px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
