/**
 * Flex Center
 */
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Box Shadow
 */
%box-shadow {
  box-shadow: 0 1px 1px rgba($color-black, 0.1);
}

/**
 * Link Posts
 */
%content-width {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $mq-sm) {
    max-width: 700px;

  }

  @media (min-width: $mq-md) {
    width: 700px;

  }
  @media (min-width: $mq-lg) {
    width: 700px;
  }
  @media (min-width: $mq-xl) {
    width: 700px;
  }
  @media (min-width: $mq-xxl) {
    width: 700px;
  }
}

/**
 * Card Shadow
 */
%card-shadow {
  position: relative;

  border: 1px solid transparent;
  background-clip: padding-box;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-clip: padding-box;
    box-shadow: 0 2px 50px rgba($color-black, 0.25);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    border: 1px solid rgba($color-black, 0.1);
    box-shadow: 0px 0px 47px rgba($color-black, 0.1);
    transform: translate3d(0, -0.5em, 0);
    transition: all 0.3s ease;
    border-radius: 4px 4px 4px 4px;
    &:after {
      opacity: 1;
    }
  }
}

/**
 * Typography
 */
 %heading--one {
   @include fontSize(31px);
   line-height: 1.125;
   letter-spacing: -1px;

   @media (min-width: $mq-sm) {
      @include fontSize(44px);
    }
 }
 %heading--one__bold {
   @extend %heading--one;
   font-weight:900;
 }

 %heading--two {
   @include fontSize(34px);
   @include lineHeight(38px);
   letter-spacing: -1px;

   @media (min-width: $mq-sm) {
      @include fontSize(38px);
      @include lineHeight(42px);
      letter-spacing: -1px;
    }

   @media (min-width: $mq-md) {
      @include fontSize(44px);
      @include lineHeight(48px);
      letter-spacing: -1.5px;
    }
 }
 %heading--two__bold {
   @extend %heading--two;
   font-weight:700;
 }

 %heading--three {
   @include fontSize(32px);
   @include lineHeight(36px);
 }
 %heading--three__bold {
   @extend %heading--three;
   font-weight:700;
   letter-spacing: -1px;
 }

 %heading--four {
   @include fontSize(28px);
   @include lineHeight(32px);
 }
 %heading--four__bold {
   @extend %heading--four;
   font-weight:700;
   letter-spacing: -1px;
 }

 %heading--five {
   @include fontSize(24px);
   @include lineHeight(28px);
 }
 %heading--five__bold {
   @extend %heading--five;
   font-weight:700;
   letter-spacing: -1px;
 }

 %body--text {
   @include fontSize(17px);
   @include lineHeight(28px);

    @media (min-width: $mq-sm) {
      @include fontSize(20px);
      line-height: 1.5;
    }
 }
 %body--text__bold {
   @extend %body--text;
   font-weight:700;
 }

 %heading--six {
   @extend %body--text;
   font-family:$font-body !important;
 }
 %heading--six__bold {
   @extend %heading--six;
   font-weight:700;
 }

 %blockquote--text {
   @extend %heading--five;
   font-weight: 400;
   font-family:$font-body !important;
 }



 /**
  * Article Verticle Spacing
  */

 %body--text__vertical-spacing {
      margin-bottom: 1.5rem;

    @media (min-width: $mq-sm) {
      margin-bottom: 1.7rem;
    }

    // @media (min-width: $mq-md) {
    //   margin-bottom: 1.5rem;
    // }

  //  @media (min-width: $mq-lg) {
  //    width: 680px;
  //  }
  //  @media (min-width: $mq-xl) {
  //    width: 680px;
  //  }
  //  @media (min-width: $mq-xxl) {
  //    width: 680px;
  //  }
 }
