/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

body {
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font-header;
}

h1 {
  @extend %heading--one__bold;

}

h2 {
  margin-bottom: 0.5em;
  @extend %heading--two__bold;
}

h3 {
  margin-bottom: 1rem;
  @extend %heading--three__bold;
}

h4 {
  margin-bottom: 0.5rem;
  @extend %heading--four__bold;
}

h5 {
  margin-bottom: 0.5rem;
  @extend %heading--five__bold;
}

h6 {
  @extend %heading--six__bold;
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem;
  @extend %body--text;
}

a {
  color: $color-black;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  margin: 2em 0;

  font-family: $font-header;
  font-weight: 700;
  font-size: 1.25em;
}

cite {
  display: block;
  margin-top: 0.125em;

  font-family: $font-header;
  font-weight: 400;
  font-style: normal;

  &:before {
    content: "\2014 \0020";
  }
}

ol, ul {
  margin: 0;
  padding: 0;
}



/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: $color-beta;
  text-shadow: none;
}
